footer
	div.container
		div.row
			div.col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
				ui.list-inline.text-center
					li
						a(href="https://twitter.com/refinedjs")
							span.fa-stack.fa-lg
								i.fa.fa-circle.fa-stack-2x
								i.fa.fa-twitter.fa-stack-1x.fa-inverse
					li
						a(href="https://www.instagram.com/refinedjs/")
							span.fa-stack.fa-lg
								i.fa.fa-circle.fa-stack-2x
								i.fa.fa-instagram.fa-stack-1x.fa-inverse
					li
						a(href="")
							span.fa-stack.fa-lg
								i.fa.fa-circle.fa-stack-2x
								i.fa.fa-github.fa-stack-1x.fa-inverse
								
				p.copyright.text-muted Refined Js 2016
