meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='keyworkds', content='refined javascript, josh gonzalez, yakira bristol, javascript, angularjs, nodejs, jQuery, html5, ajax, ui, ux, web application development')
meta(name='description', content='The Pursuit To Refining Javascript, AngularJS, NodeJS, jQuery, HTML5, AJAX, UI, UX, and all aspects of web application development.')
title Refined Js | The Pursuit To Refining Javascript
link(rel='stylesheet', href='/public/assets/css/bootstrap.min.css')
link(rel='stylesheet', href='/public/assets/css/site.css')
link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css')
link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic')
link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800')
