//main navigation//
- var nav_classes = [ 'navbar', 'navbar-default', 'navbar-custom', 'navbar-fixed-top' ]
nav(class=nav_classes)
	div.container-fluid
		div.navbar-header.page-scroll
			a.navbar-brand( href="/")
				img.logo(src="/public/assets/images/main-logo.svg")
		div.collapse.navbar-collapse
			ui.nav.navbar-nav.navbar-right