doctype html
html(lang="en")
	//// Start the head //
	head
		include ./_inc/head.pug
	body
		//// Start the navigation //
		include ./_inc/nav.pug
		header.intro-header
			div.container-fluid
				div.row
					div.col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
						div.site-heading
							h1 Why???
							hr.small
							span.subheading Why Create Refined JS?

		article
			div.container
				div.row
					div.col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
						p We realized that there is a lot of information out there. A lot of information. But it's hidden and it can take days of searching to find solutions to a problem. Or an aggregation of data to come up with a solution to a problem.
						p What if we could take the most common problems and along with their solutions and showcase them in one easy to find location? What if we could showcase solutions to some problems that may be harder to find because perhaps only one other person has run into it or something similar? What if we could show others how to right clean, quality code in those solutions? 			
						p That is why we created Refined Js. To present problems, take out all the clutter and noise and give clear, tested and quality JavaScript solutions.
						blockquote We are all apprentices in a craft where no one ever becomes a master.
							br 
							span - Ernest Hemmingway	
		////Start the footer//
		include ./_inc/footer.pug
		include ./_inc/scripts.pug
